<div class="container-fluid">
  <div class="row ">
    <div class="col-md-3 add-todo-section">
      <app-add-task (onAddTask)="addTask($event)"></app-add-task>
    </div>
    <div class="col-md-9">
      <div class="container mt-3" cdkDropListGroup>
        <div class="row">
          <div class="col-md-4" *ngFor="let todo of todos">
            <!-- todo list -->
            <div class="example-container">
              <h3 class="column-title d-flex align-items-center justify-content-center">
                <mat-icon>{{ todo.titleIcon }}</mat-icon> {{ todo.todosTitle }}
                <small *ngIf="todo.todosTask.length > 0">
                  ({{ todo.todosTask.length }})</small>
              </h3>
              <div cdkDropList [cdkDropListData]="todo.todosTask" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" [ngClass]="{reminder:task.reminder}" *ngFor="let task  of todo.todosTask; let i = index" cdkDrag >
                  <app-task-item [task]="task" [todo]="todo" [i]="i"></app-task-item>
                <!--
                  <p class="task-content " [ngClass]="{
                      'task-done': todo.todosTitle === 'Done' && task .done
                    }">
                    <span>{{ task.title }} - {{ task.id }}  </span>
                    <br />
                    <span class="small-text">{{ task.description }}</span>
                    <br />
                    <span class="small-text" (click)="onToggleReminder(i, task )"> {{ task.reminder? "remove ":"add " }} reminder</span>
                  </p>
                  <div class="box">
                    <button *ngIf="todo.todosTitle === 'To do List'" mat-icon-button color="secondary"
                      (click)="onEdit(i, task )">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="todo.todosTitle === 'Done'" mat-icon-button [color]="task .done ? 'warn' : 'primary'"
                      (click)="onDone(i, task )">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(i, todo.todosTitle, task)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                -->
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
