<main class="container-fluid">
  <div class="row ">
    <section class="col-md-3 add-todo-section">
      <app-add-task (addTask)="addTask($event)" [isEditEnabled]="isEditEnabled" [taskToEdit]="taskToEdit" (cancelUpdateTask)="cancelUpdate()" [editTaskSubject]="editTaskSubject" (updateTask)="updateTask($event)"></app-add-task>
    </section>
    <section class="col-md-9">
      <div class="container mt-3" cdkDropListGroup>
        <div class="row">
          <article class="col-md-4" *ngFor="let todo of todos">
            <!-- todo list -->
            <div class="example-container">
              <h3 class="column-title d-flex align-items-center justify-content-center">
                <mat-icon>{{ todo.titleIcon }}</mat-icon> {{ todo.todosTitle }}
                <small *ngIf="todo.todosTask.length > 0">
                  ({{ todo.todosTask.length }})</small>
              </h3>
              <div cdkDropList [cdkDropListData]="todo.todosTask" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box"  [ngClass]="{ 'high-priority': task.priority === 'high',  'medium-priority': task.priority === 'medium','low-priority': task.priority === 'low'}" [ngClass]="{reminder:task.reminder}" *ngFor="let task  of todo.todosTask" cdkDrag >
                  <div [ngClass]="{
                    }">
                    <app-task-item [task]="task" [todo]="todo" (editTask)="onEdit(task)" (deleteTask)="onDeleteTask(todo.todosTitle, task)" (doneTask)="onDone(task)" (toggleReminder)="onToggleReminder(task)"  ></app-task-item>
                  </div>
              </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</main>
