
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 add-todo-section">
      <div class="">
        <mat-card >
            <form [formGroup]="todoForm" class="m-auto mt-3 mat-form-field">
              <mat-form-field appearance="outline">
                <mat-label>Task names</mat-label>
                <input  formControlName="item"  matInput placeholder="task name">

                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </form>
            <button class="flex justify-content-center" (click) = "addTask()" mat-raised-button [disabled]="todoForm.invalid" color="primary">
              <mat-icon>add</mat-icon>Add
            </button>
        </mat-card>
      </div>
    </div>
    <div class="col-md-9">
      <div class="container" cdkDropListGroup>
        <div class="row">
          <div class="col-md-4">
            <!-- todo list -->
            <div class="example-container">
              <h2>To do List</h2>
              <div
                cdkDropList
                [cdkDropListData]="tasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box " *ngFor="let item of tasks; let i = index" cdkDrag>
                  <span>{{item.description}}</span>
                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button color="secondary" (click)="deleteTask(i)"><mat-icon>edit</mat-icon></button>
                  </div>
                </div>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- inprogress -->
            <div class="example-container">
              <h2>In progress</h2>
              <div
                cdkDropList
                [cdkDropListData]="inProgress"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of inProgress; let i = index" cdkDrag>
                  <span>{{item.description}}</span>
                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteTaskInProgress(i)"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button color="secondary" (click)="deleteTask(i)"><mat-icon>edit</mat-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- task done -->
            <div class="example-container">
              <h2>Done</h2>
              <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box " *ngFor="let item of done ; let i = index" cdkDrag>
                  <span>{{item.description}}</span>
                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteTaskDone(i)"><mat-icon>delete</mat-icon></button>
                    <button><mat-icon class="text-success">check</mat-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
