
  <p class="task-content"  [ngClass]="{
      'task-done': todo.todosTitle === 'Done' && task.done}">
    <strong>{{ task.title }}  </strong>
    <br />
    <strong class="small-text">
      description
    </strong>
    <br />
    <span class="small-text">
      {{ task.description }}
       </span>
    <span class="small-text" (click)="onEditReminderClicked()"> {{ task.reminder? "remove ":"add " }} reminder</span>
    <span class="small-text" (click)="onToggleReminder(task )"> {{ task.reminder? "remove ":"add " }} reminder</span>
  </p>
  <div class="box">
    <button *ngIf="todo.todosTitle === 'To do List'" mat-icon-button color="secondary"
    (click)="onEditBtn(task)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="onDeleteBtn(todo.todosTitle, task)" [disabled]="tasktoEdit?.id === task.id">
    <mat-icon>delete</mat-icon>
  </button>
  <button *ngIf="todo.todosTitle === 'Done'" mat-icon-button [color]="task .done ? 'warn' : 'primary'"
    (click)="onDoneBtn(task)">
    <mat-icon>check_circle</mat-icon>
  </button>
  </div>

